@font-face {
  font-family: "iconfont"; /* Project id 3793560 */
  src: url('iconfont.woff2?t=1669441670655') format('woff2'),
       url('iconfont.woff?t=1669441670655') format('woff'),
       url('iconfont.ttf?t=1669441670655') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuti:before {
  content: "\e65e";
}

.icon-taiyang:before {
  content: "\e617";
}

.icon-weibiaoti-:before {
  content: "\e636";
}

.icon-zhuti1:before {
  content: "\e682";
}

.icon-zhuti_tiaosepan:before {
  content: "\eaec";
}

.icon-tubiaomianxing01-25:before {
  content: "\e600";
}

.icon-airplane:before {
  content: "\e601";
}

.icon-list-money:before {
  content: "\e602";
}

.icon-tubiaomianxing02-02:before {
  content: "\e603";
}

.icon-tubiaomianxing02-03:before {
  content: "\e604";
}

.icon-tubiaomianxing02-04:before {
  content: "\e605";
}

.icon-tubiaomianxing02-05:before {
  content: "\e606";
}

.icon-tubiaomianxing02-08:before {
  content: "\e607";
}

.icon-tubiaomianxing02-17:before {
  content: "\e608";
}

.icon-car:before {
  content: "\e609";
}

.icon-calendar-dot:before {
  content: "\e60a";
}

.icon-calendar-right:before {
  content: "\e60b";
}

.icon-communication:before {
  content: "\e60c";
}

.icon-computer:before {
  content: "\e60d";
}

.icon-audit:before {
  content: "\e60e";
}

.icon-home-setting:before {
  content: "\e60f";
}

.icon-comment:before {
  content: "\e610";
}

.icon-cancel:before {
  content: "\e611";
}

.icon-lettersvg:before {
  content: "\e612";
}

.icon-send:before {
  content: "\e613";
}

.icon-line_setting:before {
  content: "\e614";
}

.icon-people_number:before {
  content: "\e615";
}

.icon-password:before {
  content: "\e616";
}

.icon-box:before {
  content: "\e628";
}

.icon-chart_histogram:before {
  content: "\e629";
}

.icon-chart_pie:before {
  content: "\e62a";
}

.icon-chart_bubble:before {
  content: "\e62b";
}

.icon-line_manage:before {
  content: "\e62c";
}

.icon-blackboard:before {
  content: "\e639";
}

.icon-officebag:before {
  content: "\e63a";
}

.icon-branch:before {
  content: "\e63b";
}

.icon-display:before {
  content: "\e63c";
}

.icon-order-editor:before {
  content: "\e63d";
}

.icon-people-business:before {
  content: "\e63e";
}

.icon-file:before {
  content: "\e63f";
}

.icon-people-business-right:before {
  content: "\e640";
}

.icon-order:before {
  content: "\e641";
}

.icon-book:before {
  content: "\e642";
}

.icon-people-business-follow:before {
  content: "\e643";
}

.icon-pr-date:before {
  content: "\e644";
}

.icon-peoples:before {
  content: "\e645";
}

.icon-round_left:before {
  content: "\e646";
}

.icon-round_delete:before {
  content: "\e647";
}

.icon-round_switch:before {
  content: "\e648";
}

.icon-pr-balance:before {
  content: "\e649";
}

.icon-round_pause:before {
  content: "\e64a";
}

.icon-round_start:before {
  content: "\e64b";
}

.icon-money:before {
  content: "\e64c";
}

.icon-round_edit:before {
  content: "\e64d";
}

.icon-square-ticket:before {
  content: "\e64e";
}

.icon-round_up:before {
  content: "\e64f";
}

.icon-square-card:before {
  content: "\e650";
}

.icon-round_right:before {
  content: "\e651";
}

.icon-round_off:before {
  content: "\e652";
}

.icon-pr-setting:before {
  content: "\e653";
}

.icon-round_down:before {
  content: "\e654";
}

.icon-round_refresh:before {
  content: "\e655";
}

.icon-remind:before {
  content: "\e656";
}

.icon-camera:before {
  content: "\e657";
}

.icon-medal:before {
  content: "\e658";
}

.icon-chart_line:before {
  content: "\e659";
}

.icon-bulid:before {
  content: "\e65a";
}

.icon-chart_area:before {
  content: "\e65b";
}

.icon-shopping:before {
  content: "\e65c";
}

.icon-leidatu:before {
  content: "\e65d";
}

